/*set background to black*/
body{
  background-color:black;
}

/*table styling*/
table, th, td {
  border: 1px solid black;
  height: 50px;
  width: 200px;
}

td {
  transform: scale(1);
}

td:active {
  transform: scale(.96);
  transition: transform .2s;
}

/*card border when selected*/
.cardBorder {
  border: 7px solid red;
}

.hintBorder {
  border: 7px solid rgb(72, 255, 0);
}

/*general text styling*/
h1,div,p {
text-align: center;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color:white;
}

/*heading size is larger*/
#heading{
font-size: 30px;
}

/*button styling for rules and no set*/
#hintBtn, #myBtn, #noSetBtn, #resetBtn{
  background-color: white;
   border: none;
   color: black;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px 2px;
   cursor: pointer;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 /*button styling for hover fucntionality*/
#rulesBtn:hover,#hintBtn:hover,#noSetBtn:hover, #resetBtn:hover {
  background-color:	#C0C0C0; /* Gray */
  color: black;
}

/*styling for elements with center class*/
.center{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

/*error message styling*/
#validate, #playerError {
  color: red;
  font-style: italic;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*Rules modal styling*/
.modal, .endGame {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, .end-content {
  color:black;
  background-color: white;
  text-align: left;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 80%; 
}

/*text styling for text inside modal*/
pre{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Exit Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*Exit button hover and focus styling*/
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}